{% extends 'base.html' %}


{% block 'conteudo' %}

<div class="container">
  
    <br>
    {% if status_categoria == '1' %}
      <div class="alert alert-success" role="alert">
        Categoria cadastrada com sucesso
      </div>
    {% endif %}

    <div class="row">

      
        {% for livro in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">

                      <h5 class="card-title">{{livro.nome}}</h5>
                     
                     
                      <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Emprestado</h6>
                      
                      {% if livro.emprestado %}

                        <svg style="color: green; display: inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                        </svg>
                      {% else %}
            
                        <svg style="color: red; display: inline;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                        </svg>
                      {% endif %}

                        <br>
                        <br>
                      <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info">Acessar</a>
                    </div>


                </div>
                <br>
            </div>
           
           
    
        {% endfor %}
        

    
    
    </div>
</div>

{% endblock %}